// Styling for the masthead
header.masthead {
    position: relative;
    width: 100%;
    padding-bottom: 0px;
    background: url('../img/background-movil.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    .header-content {
        margin-bottom: 1px;

        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
    .device-container {
        margin-right: auto;
        margin-left: auto;
        .screen img {
            border-radius: 3px;
        }
    }
    .noneDisplayMobile{
      display: none;
    }
    .noneDisplayWeb{
      display: contents;
    }

    .marginTop{
      margin-top: 10px
    }


    @media (min-width: 992px) {

        background: url('../img/background.png');
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        height: 100%;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        .header-content {
            margin-bottom: 0;

            text-align: left;
            h1 {
                font-size: 50px;
            }
        }
        .input-group {
          height: 52px;
          width: 41vw;
        }
        .titleText{
          color: #FFFFFF;
          font-family: "Circular Std Bold";
          font-size: 70px !important;
          font-weight: bold;
          line-height: 60px;
        }

        .text{
          color: #FFFFFF;
          font-family: "Circular Std Book";
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
          margin-bottom: 0 ;
        }
        .device-container {
            margin-right: auto;
            margin-left: auto;
            .screen img {
                border-radius: 3px;
                height: 90vh;
            }
        }
        .marginColLeft{
          margin-top: 80px !important;
        }
        .logoPosition{
          padding-bottom: 4vh;
          height: 100%;
        }
        .coming {
          margin-top: 19px;
          color: #FFFFFF;
          font-family: "Droid Serif";
          font-size: 28px;
          font-style: italic;
        }

        .coming-text{
          color: #FFFFFF;
          font-family: "Circular Std Book";
          font-size: 15px;
          font-weight: 300;
        }
        .header-content {
            margin-bottom: 100px;
        }

        .noneDisplayMobile {
          display: contents;
        }

        .noneDisplayWeb{
          display: none;
        }

        .margin-bottom{
          margin-bottom: 15px !important;
        }
    }
}
